@{
    ViewBag.Title = "Trang Chủ";
}

<main>
    <section class="row" aria-labelledby="TechSahopTitle">
        <img src="~/Logo/LogoTech.png" align="right"
             height="5" />
        <h1 id="title">Welcome TechShop</h1>
        <p class="lead">Chào mừng bạn đến mua sắm tại cửa hàng, hãy để ChatBot được giúp đỡ nếu bạn muốn tư vấn sản phẩm nhé</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Bắt Đầu Mua Sắm</h2>
            <p>
                TechShop là cửa hàng chuyên bán các sản phẩm công nghệ, phụ kiện máy tính, tai nghe chất lượng.
            </p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44346/Home/DangNhap">Xem sản phẩm &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Hỗ Trợ Khách Hàng</h2>
            <p>
                Khách hàng sẽ được hỗ trợ bằng chatbot khi gặp bất kỳ thắc mắc nào về sản phẩm,
                các thông tin về sản phẩm bao gồm cả các sản phẩm giảm giá và đang bán chạy tại cửa hàng
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
       
    </div>
</main>